<br/>
<br/>
<div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2><%= @friend.first_name %> <%= @friend.last_name %></h2>
          <h5>@<%= @friend.twitter %></h5>
          <p><%= @friend.email %> - <%= @friend.phone %></p>
          <br/>
            <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-light btn-sm" %>
        </div>
</div>
<br/>


<div>
  <%= link_to "Back to friends", friends_path, class:"btn btn-outline-primary btn-sm" %>
  <%= link_to "Delete this friend", @friend, method: :delete, class: "btn btn-outline-danger btn-sm" %>
</div>
